@charset "UTF-8";
/*!共通*/
body {
  font-family: "fot-tsukuaoldmin-pr6n", "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
}
@media screen and (max-width: 450px) {
  body {
    font-size: 14px;
    font-weight: 600;
  }
}

ul {
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

p {
  letter-spacing: 1.7px;
}
@media screen and (max-width: 450px) {
  p {
    letter-spacing: 1.5px;
  }
}

/*!header*/
header {
  height: 115px;
  width: 100%;
  background-color: #723517;
}
@media screen and (max-width: 830px) {
  header {
    height: 60px;
  }
}
header .header_inner {
  display: flex;
  justify-content: space-between;
}
header .header_inner .header_logo img {
  height: 108px;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 999;
}
@media screen and (max-width: 450px) {
  header .header_inner .header_logo img {
    height: 80px;
  }
}
header .header_inner .header_menu {
  display: flex;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 100;
}
header .header_inner .header_menu ul {
  writing-mode: vertical-lr;
}
header .header_inner .header_menu li {
  margin: 0px 80px;
}
header .header_inner .header_menu a {
  display: inline-block;
  overflow: hidden;
}
header .header_inner .header_menu p {
  color: #fff;
}
header .header_inner .header_menu span {
  display: block;
  border: 0.5px solid #fff;
  margin-left: 6px;
}
@media screen and (max-width: 830px) {
  header .header_inner .header_menu {
    display: none;
  }
}

/*!firstview*/
#firstview {
  width: 100%;
  height: auto;
  position: relative;
}
#firstview .firstview_logo {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 130px;
  margin: -65px 0 0 -65px;
}
@media screen and (max-width: 1080px) {
  #firstview .firstview_logo {
    width: 100px;
    margin: -50px 0 0 -50px;
  }
}

/*!concept*/
#concept {
  position: relative;
  width: 100%;
  padding: 100px;
}
@media screen and (max-width: 1080px) {
  #concept {
    padding: 100px 40px;
  }
}
@media screen and (max-width: 450px) {
  #concept {
    padding: 100px 15px 10px 15px;
  }
}
#concept .contents_block {
  max-width: 1050px;
  margin: 0 auto;
}
#concept .concept_list:nth-child(odd) .concept_img {
  justify-content: right;
}
@media screen and (max-width: 830px) {
  #concept .concept_list:nth-child(odd) .concept_img {
    justify-content: center;
    margin: 0 auto;
    width: 210px;
  }
}
@media screen and (max-width: 450px) {
  #concept .concept_list:nth-child(odd) .concept_img {
    width: 160px;
  }
}
#concept .concept_list:nth-child(even) .concept_img {
  justify-content: left;
}
@media screen and (max-width: 830px) {
  #concept .concept_list:nth-child(even) .concept_img {
    justify-content: center;
  }
}
#concept .concept_list:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (max-width: 830px) {
  #concept .concept_list:nth-child(2) {
    display: block;
  }
}
#concept .concept_list {
  margin-bottom: 140px;
}
#concept .concept_list .concept_letter {
  color: #190e08;
  writing-mode: vertical-rl;
  margin: 0 auto;
  line-height: 48px;
  white-space: nowrap;
}
@media screen and (max-width: 830px) {
  #concept .concept_list .concept_letter {
    line-height: 38px;
  }
}
@media screen and (max-width: 550px) {
  #concept .concept_list .concept_letter p {
    margin: 30px auto;
  }
}
#concept .concept_list .letter1 {
  margin: 25px auto 55px auto;
}
@media screen and (max-width: 550px) {
  #concept .concept_list .letter1 {
    display: flex;
  }
}
#concept .concept_list .letter2 {
  padding-right: 100px;
  margin-bottom: 55px;
}
@media screen and (max-width: 1080px) {
  #concept .concept_list .letter2 {
    padding-right: 0px;
  }
}
#concept .concept_list span {
  display: block;
  width: 50px;
}
@media screen and (max-width: 550px) {
  #concept .concept_list span {
    display: none;
  }
}
#concept .concept_list .concept_img {
  display: flex;
}
#concept .concept_list img {
  height: 315px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
#concept .concept_list .concept_img_left {
  margin-right: 25px;
}

/*!information*/
#information {
  position: relative;
}
#information .info_title {
  color: #190e08;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
@media screen and (max-width: 830px) {
  #information .info_title {
    margin-bottom: 40px;
  }
}
#information .info_title h2 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.5px;
  white-space: nowrap;
}
@media screen and (max-width: 830px) {
  #information .info_title h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 450px) {
  #information .info_title h2 {
    font-size: 26px;
  }
}
#information .info_title img {
  width: 215px;
  height: auto;
  margin: 0 20px;
}
@media screen and (max-width: 830px) {
  #information .info_title img {
    display: none;
  }
}
#information .info_list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1080px) {
  #information .info_list {
    display: block;
    padding: 100px;
  }
}
@media screen and (max-width: 550px) {
  #information .info_list {
    padding: 50px 0px;
  }
}
#information .info_list h3 {
  font-size: 32px;
  letter-spacing: 1.5px;
  font-weight: 500;
  margin-bottom: 40px;
}
@media screen and (max-width: 450px) {
  #information .info_list h3 {
    font-size: 28px;
  }
}
#information .info_list p {
  line-height: 36px;
  margin-bottom: 40px;
}
#information .info_list .info_text_block, #information .info_list .info_img_block {
  width: 50%;
  text-align: center;
}
@media screen and (max-width: 1080px) {
  #information .info_list .info_text_block, #information .info_list .info_img_block {
    width: 100%;
    margin: 0 auto;
  }
}
#information .info_list .info_text_icon {
  width: 70px;
  height: auto;
  margin: 20px auto;
}
#information .info_list:nth-child(2) {
  background-color: #723517;
  color: #fff;
}
#information .info_list:nth-child(2) a {
  color: #e2bd6a;
}
#information .info_list:nth-child(3) {
  flex-direction: row-reverse;
  background-color: #ede3ce;
  color: #190e08;
}
#information .info_list:nth-child(3) .info_text_icon {
  width: 90px;
}
#information .info_list:nth-child(3) a {
  color: #383c44;
}
#information .info_list:nth-child(4) {
  background-color: #383c44;
  color: #fff;
}
#information .info_list:nth-child(4) a {
  color: #e2bd6a;
}

/*!contact*/
#contact {
  position: relative;
}
#contact .contact_background {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1080px) {
  #contact .contact_background img {
    height: 900px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
#contact .contact_message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
}
#contact .contact_message img {
  width: 105px;
  height: auto;
  margin: 0 auto;
}
#contact .contact_message h4 {
  font-size: 20px;
  letter-spacing: 1.9px;
  margin: 36px auto 40px;
  color: #190e08;
}
#contact .contact_message p {
  color: #190e08;
  line-height: 36px;
  margin-bottom: 36px;
}
#contact .contact_btn {
  border: 2px solid #e2bd6a;
  padding: 3px;
  width: 230px;
  margin: 0 auto;
  display: block;
}
#contact .contact_btn p {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 38px;
  color: #723517;
  border: 1px solid #e2bd6a;
}

/*!footer*/
.footer {
  height: 300px;
  width: 100%;
  background-color: #723517;
}
@media screen and (max-width: 830px) {
  .footer {
    height: 120px;
  }
}
.footer_inner {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 830px) {
  .footer_inner {
    height: 120px;
    justify-content: unset;
  }
}
.footer_menu {
  white-space: nowrap;
}
@media screen and (max-width: 830px) {
  .footer_menu {
    display: none;
  }
}
.footer_line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 22px 0;
}
.footer_logo {
  width: 90px;
  height: auto;
  margin-right: 50px;
}
@media screen and (max-width: 830px) {
  .footer_logo {
    width: 70px;
    margin: 0 40px;
  }
}
.footer_list {
  display: flex;
}
.footer_list li a {
  color: #fff;
  margin-right: 50px;
  display: inline-block;
}

/*!openbtn*/
.openbtn {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  top: 10px;
  right: 15px;
  border: 1px solid #e2bd6a;
}
.openbtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 9px;
  height: 2px;
  background-color: #e2bd6a;
}
.openbtn span:nth-of-type(1) {
  top: 15px;
  width: 50%;
}
.openbtn span:nth-of-type(2) {
  top: 22px;
  width: 30%;
}
.openbtn.active span:nth-of-type(1) {
  top: 13px;
  left: 12px;
  transform: translateY(6px) rotate(-45deg);
  width: 35%;
}
.openbtn.active span:nth-of-type(2) {
  top: 25px;
  left: 12px;
  transform: translateY(-6px) rotate(45deg);
  width: 35%;
}

#g-nav {
  overflow: scroll;
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
}

/*Google Chrome、Safariへの対応*/
#g-nav::-webkit-scrollbar {
  display: none;
}

/*!ナビゲーション*/
#g-nav.panelactive {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100vh;
}
#g-nav.panelactive ul {
  opacity: 1;
  display: block;
}
#g-nav.panelactive ul li {
  animation-name: gnaviAnime;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
#g-nav ul {
  opacity: 0;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#g-nav li {
  text-align: center;
  list-style: none;
}
#g-nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 0px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

@keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.circle-bg {
  position: fixed;
  z-index: 500;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #383c44;
  transform: scale(0);
  bottom: -50px;
  left: calc(50% - 50px);
  transition: all 0.6s;
}
.circle-bg.circleactive {
  transform: scale(50);
}

/*==================================================
スライダーのためのcss
===================================*/
.slider {
  position: relative;
  z-index: 1;
}
.slider li img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 450px) {
  .slider li img {
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/*==================================================
スクロールダウン
===================================*/
.scroll_down {
  position: absolute;
  left: 50%;
  bottom: 10px;
  height: 100px;
}
.scroll_down span {
  content: "";
  position: absolute;
  top: 0;
  width: 1.1px;
  height: 100px;
  background: #e2bd6a;
  animation: scroll_down 2.4s ease-in-out infinite;
  opacity: 0;
  z-index: 100;
}

@keyframes scroll_down {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 100px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 150px;
    opacity: 0;
  }
}
.scroll_down2 {
  bottom: 100px;
}

/*==================================================
じわっと出現
===================================*/
.blur {
  animation-name: blurAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes blurAnime {
  from {
    filter: blur(10px);
    transform: scale(1.02);
    opacity: 0;
  }
  to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}
.blurTrigger {
  opacity: 0;
}

/*========= information ボタンアニメーション ===============*/
.btn_anime {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 40px;
  text-decoration: none;
  outline: none;
  transition: all 0.3s;
  transition-delay: 0.7s;
  /*横線の設定*/
}
.btn_anime::before, .btn_anime::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: #e2bd6a;
  transition: all 0.2s linear;
}
.btn_anime span {
  display: block;
  /*縦線の設定*/
}
.btn_anime span::before, .btn_anime span::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 0;
  background: #e2bd6a;
  transition: all 0.2s linear;
}

#information .info_list:nth-child(3) a::before, #information .info_list:nth-child(3) a::after, #information .info_list:nth-child(3) span::before, #information .info_list:nth-child(3) span::after {
  background: #383c44;
}

.btn_anime:hover::before,
.btn_anime:hover::after {
  width: 100%;
}

.btn_anime:hover span::before,
.btn_anime:hover span::after {
  height: 100%;
}

/*左下から右下へ伸びる横線*/
.bordercircle::after {
  left: 0;
  bottom: 0;
}

/*右下から上へ伸びる縦線*/
.bordercircle span::after {
  right: 0;
  bottom: 0;
  transition-delay: 0.2s;
}

/*右上から左上へ伸びる横線*/
.bordercircle::before {
  right: 0;
  top: 0;
  transition-delay: 0.4s;
}

/*左上から左下へ伸びる横線*/
.bordercircle span::before {
  left: 0;
  top: 0;
  transition-delay: 0.6s;
}

/*========= ローディング時ロゴ　square_anime ===============*/
.square {
  background-image: linear-gradient(0deg, #fff, #fff), linear-gradient(0deg, #fff, #fff), linear-gradient(0deg, #fff, #fff), linear-gradient(0deg, #fff, #fff);
  background-repeat: no-repeat;
  background-size: 1.4px 100%, 100% 1.4px, 1.4px 100%, 100% 1.4px;
  background-position: left bottom, left top, right top, right bottom;
  animation: square_anime 1.1s linear forwards;
}

@keyframes square_anime {
  0% {
    background-size: 1.4px 0, 0 1.4px, 1.4px 0, 0 1.4px;
  }
  25% {
    background-size: 1.4px 100%, 0 1.4px, 1.4px 0, 0 1.4px;
  }
  50% {
    background-size: 1.4px 100%, 100% 1.4px, 1.4px 0, 0 1.4px;
  }
  75% {
    background-size: 1.4px 100%, 100% 1.4px, 1.4px 100%, 0 1.4px;
  }
  100% {
    background-size: 1.4px 100%, 100% 1.4px, 1.4px 100%, 100% 1.4px;
  }
}
/*========= ローディング ===============*/
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #723517;
  z-index: 999999;
}
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  padding: 12px 11px 17px 18px;
}

body {
  background: #723517;
}
body.appear {
  background: #fff; /*画面を開いた後の背景色*/
}

.splashbg1,
.splashbg2 {
  display: none;
}

body.appear .splashbg1,
body.appear .splashbg2 {
  display: block;
}

/*上に消えるエリア*/
body.appear .splashbg1 {
  animation-name: PageAnime;
  animation-duration: 1.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  content: "";
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  bottom: 50%;
  left: 0;
  transform: scaleY(1);
  background-color: #723517;
}

@keyframes PageAnime {
  0% {
    transform-origin: top;
    transform: scaleY(1);
  }
  100% {
    transform-origin: top;
    transform: scaleY(0);
  }
}
/*下に消えるエリア*/
body.appear .splashbg2 {
  animation-name: PageAnime2;
  animation-duration: 1.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  content: "";
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 0;
  transform: scaleY(1);
  background-color: #723517;
}

@keyframes PageAnime2 {
  0% {
    transform-origin: bottom;
    transform: scaleY(1);
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
}
#container {
  opacity: 0;
}

body.appear #container {
  animation-name: PageAnimeAppear;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*========= header_list　ホバー時アニメーション ===============*/
.header_list a:hover span {
  animation: hover_line 1s ease-in-out forwards;
}

@keyframes hover_line {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  49% {
    opacity: 1;
    transform: translateY(100%);
  }
  49.5% {
    opacity: 0;
    transform: translateY(100%);
  }
  50.5% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.info_img_block {
  position: relative;
  transition: all 1s;
  cursor: pointer;
}

.info_img_before {
  opacity: 1;
  transition: all 1s;
}

.info_img_after {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s;
}

.info_img_block:hover .info_img_after {
  opacity: 1;
}

.info_img_block:hover .info_img_before {
  opacity: 0;
}/*# sourceMappingURL=style.css.map */