@charset "UTF-8";

/*!共通*/

body {
  font-family: 'fot-tsukuaoldmin-pr6n','游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
}

ul {
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

p {
  letter-spacing: 1.7px;
}


$font_black:#190e08;

$brown:#723517;

$beige:#ede3ce;

$navy:#383c44;

$yellow:#e2bd6a;

$white:#fff;






/*!header*/
header {
  height: 115px;
  width: 100%;
  background-color: $brown;

  .header_inner {
    display: flex;
    justify-content: space-between;

    .header_logo img{
      height: 108px;
      position: absolute;
      top: 30px;
      left: 30px;
      z-index: 100;
    }
  
    .header_menu {
      display: flex;
      position: absolute;
      top: 32px;
      right: 30px;
      z-index: 100;
      ul {
        writing-mode: vertical-lr;
      }
      li{
        margin: 0px 80px;
      }
      a {
        display: inline-block;
      }
      p{
        color: $white;
      }
      span {
        display: block;
        border: .5px solid $white;
        margin-left: 6px;
      }
    }//header_menu
  
  }//header_inner
}//header



/*!firstview*/
#firstview {
  width: 100%;
  height: auto;
  position: relative;

  .firstview_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130px;
    margin: -65px 0 0 -65px;
  }
}


/*!concept*/
#concept {
  width: 100%;
  padding: 100px;

  .contents_block {
    max-width: 1050px;
    margin: 0 auto;
  }

  .concept_list:nth-child(odd) .concept_img{
    justify-content: right;
  }
  .concept_list:nth-child(even) .concept_img{
    justify-content: left;
  }
  .concept_list:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
  }

  .concept_list {
    margin-bottom: 140px;
    .concept_letter{
      color: $font_black;
      writing-mode: vertical-rl;
      margin: 0 auto;
      line-height: 48px;
    }
    .letter1 {
      margin: 25px auto 55px auto;
    }
    .letter2 {
      padding-right: 100px;
    }
    span {
      display: block;
      width: 50px;
    }
    .concept_img {
      display: flex;
    }
    img{
      height: 315px;
      width: auto;
    }
    .concept_img_left {
      margin-right: 25px;
    }
  }//concept_list
}//concept




#information {
  .info_title {
    color: $font_black;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    h1 {
      font-size: 32px;
      font-weight: 400;
      letter-spacing: 1.5px;
    }
    img {
      width: 215px;
      height: auto;
      margin: 0 20px
    }
  }

  .info_list {
    display: flex;
    align-items: center;
    h2 {
      font-size: 32px;
      letter-spacing: 1.5px;
      font-weight: 500;
      margin-bottom: 40px;
    }
    p {
      line-height: 36px;
      margin-bottom: 40px;
    }
    .info_text_block,.info_img_block {
      width: 50%;
      text-align: center;
    }
    .info_text_icon {
      width: 70px;
      height: auto;
      margin: 20px auto;
    }
    
  }

  .info_list:nth-child(2) {
    background-color: $brown;
    color: $white;
    a {
      color: $yellow;
    }
  }
  .info_list:nth-child(3) {
    flex-direction: row-reverse;
    background-color: $beige;
    color: $font_black;
    a {
      color: $navy;
    }
  }
  .info_list:nth-child(4) {
    background-color: $navy;
    color: $white;
    a {
      color: $yellow;
    }
  }

}//information