@charset "UTF-8";

/*!共通*/

body {
  font-family: 'fot-tsukuaoldmin-pr6n','游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  @media screen and (max-width: 450px){
    font-size: 14px;
    font-weight: 500;
  }
}

ul {
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

p {
  letter-spacing: 1.7px;
  @media screen and (max-width: 450px){
    letter-spacing: 1.5px;
  }
}


$font_black:#190e08;

$brown:#723517;

$beige:#ede3ce;

$navy:#383c44;

$yellow:#e2bd6a;

$white:#fff;






/*!header*/
header {
  height: 115px;
  width: 100%;
  background-color: $brown;

  .header_inner {
    display: flex;
    justify-content: space-between;

    .header_logo img{
      height: 108px;
      position: absolute;
      top: 30px;
      left: 30px;
      z-index: 100;
    }
  
    .header_menu {
      display: flex;
      position: absolute;
      top: 32px;
      right: 30px;
      z-index: 100;
      ul {
        writing-mode: vertical-lr;
      }
      li{
        margin: 0px 80px;
      }
      a {
        display: inline-block;
      }
      p{
        color: $white;
      }
      span {
        display: block;
        border: .5px solid $white;
        margin-left: 6px;
      }
      @media screen and (max-width: 830px){
        display: none;
      }
    }//header_menu
  
  }//header_inner
}//header



/*!firstview*/
#firstview {
  width: 100%;
  height: auto;
  position: relative;

  .firstview_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130px;
    margin: -65px 0 0 -65px;

    @media screen and (max-width: 1050px){
      width: 100px;
      margin: -50px 0 0 -50px;
    }
  }
}


/*!concept*/
#concept {
  width: 100%;
  padding: 100px;
  @media screen and (max-width: 1050px){
    padding: 100px 40px;
  }
  @media screen and (max-width: 450px){
    padding: 10px 15px 10px 15px;
  }
  
  .contents_block {
    max-width: 1050px;
    margin: 0 auto;
  }

  .concept_list:nth-child(odd) .concept_img{
    justify-content: right;
    @media screen and (max-width: 780px){
      justify-content: center;
      margin: 0 auto;
      width: 210px;
    }
    @media screen and (max-width: 450px){
      width: 160px;
    }
  }
  .concept_list:nth-child(even) .concept_img{
    justify-content: left;
    @media screen and (max-width: 780px){
      justify-content: center;
    }
  }
  .concept_list:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    @media screen and (max-width: 780px){
      display: block;
    }
  }

  .concept_list {
    margin-bottom: 140px;
    .concept_letter{
      color: $font_black;
      writing-mode: vertical-rl;
      margin: 0 auto;
      line-height: 48px;
      white-space: nowrap;
      p {
        @media screen and (max-width: 550px){
          margin: 30px auto;
        }
      }
      @media screen and (max-width: 780px){
        line-height: 38px;
      }
    }
    .letter1 {
      margin: 25px auto 55px auto;
        @media screen and (max-width: 550px){
          display: flex;
      }
    }
    .letter2 {
      padding-right: 100px;
      margin-bottom: 55px;
      @media screen and (max-width: 1050px){
        padding-right: 0px;
      }
    }
    span {
      display: block;
      width: 50px;
      @media screen and (max-width: 550px){
        display: none;
      }
    }
    .concept_img {
      display: flex;
    }
    img{
      height: 315px;
      width: auto;
      object-fit: cover;
    }
    .concept_img_left {
      margin-right: 25px;
    }
  }//concept_list
}//concept




#information {
  .info_title {
    color: $font_black;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    @media screen and (max-width: 830px){
      margin-bottom: 40px;
    }
    h2 {
      font-size: 32px;
      font-weight: 400;
      letter-spacing: 1.5px;
      white-space: nowrap;
      @media screen and (max-width: 830px){
        font-size: 28px;
      }
      @media screen and (max-width: 450px){
        font-size: 26px;
      }
    }
    img {
      width: 215px;
      height: auto;
      margin: 0 20px;
      @media screen and (max-width: 830px){
        display: none;
      }
    }
  }

  .info_list {
    display: flex;
    align-items: center;
    @media screen and (max-width: 1050px){
      display: block;
      padding: 100px;
    }
    @media screen and (max-width: 550px){
      padding: 50px 0px;
    }
    h3 {
      font-size: 32px;
      letter-spacing: 1.5px;
      font-weight: 500;
      margin-bottom: 40px;
      @media screen and (max-width: 450px){
        font-size: 28px;
      }
    }
    p {
      line-height: 36px;
      margin-bottom: 40px;
      @media screen and (max-width: 450px){
        font-size: 13px;
      }
    }
    .info_text_block,.info_img_block {
      width: 50%;
      text-align: center;
      @media screen and (max-width: 1050px){
        width: 100%;
        margin: 0 auto;
      }
    }
    .info_text_icon {
      width: 70px;
      height: auto;
      margin: 20px auto;
    }  
  }//info_list

  .info_list:nth-child(2) {
    background-color: $brown;
    color: $white;
    a {
      color: $yellow;
    }
  }
  .info_list:nth-child(3) {
    flex-direction: row-reverse;
    background-color: $beige;
    color: $font_black;
    .info_text_icon {
      width: 90px;
    }
    a {
      color: $navy;
    }
  }
  .info_list:nth-child(4) {
    background-color: $navy;
    color: $white;
    a {
      color: $yellow;
    }
  }

}//information




#contact {
  position: relative;
  .contact_background {
    width: 100%;
    height: auto;
    img {
      @media screen and (max-width: 1050px){
        height: 900px;
        object-fit: cover;
      }
    }

  }
  .contact_message {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -140px;
    margin-top: -280px;
    text-align: center;
    @media screen and (max-width: 1050px){
      margin-top: -310px;
    }

    img {
      width: 105px;
      height: auto;
      margin: 0 auto;
    }
    h4 {
      font-size: 20px;
      letter-spacing: 1.9px;
      margin: 50px auto;
      color: $font_black;
    }
    p {
      color: $font_black;
      line-height: 36px;
      margin-bottom: 36px;
    }
  }
  .contact_btn {
    border: 2px solid $yellow;
    padding: 3px;
    width: 230px;
    margin: 0 auto;
    display: block;

    p {
      margin-bottom: 0px;
      font-size: 18px;
      line-height: 38px;
      color: $brown;
      border: 1px solid $yellow;
    }
  }
}






.footer {
  height: 300px;
  width: 100%;
  background-color: $brown;
  @media screen and (max-width: 830px){
    height: 120px;
  }
  &_inner {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 830px){
      height: 120px;
      justify-content: unset;
    }
  }
  &_menu {
    white-space: nowrap;
    @media screen and (max-width: 830px){
      display: none;
    }
  }
  &_line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: $white;
    margin: 22px 0;
  }
  &_logo {
    width: 90px;
    height: auto;
    margin-right: 50px;
    @media screen and (max-width: 830px){
    width: 70px;
    margin: 0 40px;
    }
  }
  &_list {
    display: flex;
    li a {
      color: $white;
      margin-right: 50px;
      display: inline-block;
    }
  }
}

