@charset "UTF-8";
/*!共通*/
body {
  font-family: "fot-tsukuaoldmin-pr6n", "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
}

ul {
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

p {
  letter-spacing: 1.7px;
}

/*!header*/
header {
  height: 115px;
  width: 100%;
  background-color: #723517;
}
header .header_inner {
  display: flex;
  justify-content: space-between;
}
header .header_inner .header_logo img {
  height: 108px;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 100;
}
header .header_inner .header_menu {
  display: flex;
  position: absolute;
  top: 32px;
  right: 30px;
  z-index: 100;
}
header .header_inner .header_menu ul {
  writing-mode: vertical-lr;
}
header .header_inner .header_menu li {
  margin: 0px 80px;
}
header .header_inner .header_menu a {
  display: inline-block;
}
header .header_inner .header_menu p {
  color: #fff;
}
header .header_inner .header_menu span {
  display: block;
  border: 0.5px solid #fff;
  margin-left: 6px;
}
@media screen and (max-width: 830px) {
  header .header_inner .header_menu {
    display: none;
  }
}

/*!firstview*/
#firstview {
  width: 100%;
  height: auto;
  position: relative;
}
#firstview .firstview_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130px;
  margin: -65px 0 0 -65px;
}
@media screen and (max-width: 1050px) {
  #firstview .firstview_logo {
    width: 100px;
    margin: -50px 0 0 -50px;
  }
}

/*!concept*/
#concept {
  width: 100%;
  padding: 100px;
}
@media screen and (max-width: 1050px) {
  #concept {
    padding: 100px 40px;
  }
}
@media screen and (max-width: 450px) {
  #concept {
    padding: 100px 15px 10px 15px;
  }
}
#concept .contents_block {
  max-width: 1050px;
  margin: 0 auto;
}
#concept .concept_list:nth-child(odd) .concept_img {
  justify-content: right;
}
@media screen and (max-width: 780px) {
  #concept .concept_list:nth-child(odd) .concept_img {
    justify-content: center;
    margin: 0 auto;
    width: 210px;
  }
}
@media screen and (max-width: 450px) {
  #concept .concept_list:nth-child(odd) .concept_img {
    width: 160px;
  }
}
#concept .concept_list:nth-child(even) .concept_img {
  justify-content: left;
}
@media screen and (max-width: 780px) {
  #concept .concept_list:nth-child(even) .concept_img {
    justify-content: center;
  }
}
#concept .concept_list:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (max-width: 780px) {
  #concept .concept_list:nth-child(2) {
    display: block;
  }
}
#concept .concept_list {
  margin-bottom: 140px;
}
#concept .concept_list .concept_letter {
  color: #190e08;
  writing-mode: vertical-rl;
  margin: 0 auto;
  line-height: 48px;
}
@media screen and (max-width: 550px) {
  #concept .concept_list .concept_letter p {
    margin: 30px auto;
  }
}
@media screen and (max-width: 780px) {
  #concept .concept_list .concept_letter {
    line-height: 38px;
  }
}
#concept .concept_list .letter1 {
  margin: 25px auto 55px auto;
}
@media screen and (max-width: 550px) {
  #concept .concept_list .letter1 {
    display: flex;
  }
}
#concept .concept_list .letter2 {
  padding-right: 100px;
  margin-bottom: 55px;
}
@media screen and (max-width: 1050px) {
  #concept .concept_list .letter2 {
    padding-right: 0px;
  }
}
#concept .concept_list span {
  display: block;
  width: 50px;
}
@media screen and (max-width: 550px) {
  #concept .concept_list span {
    display: none;
  }
}
#concept .concept_list .concept_img {
  display: flex;
}
#concept .concept_list img {
  height: 315px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
#concept .concept_list .concept_img_left {
  margin-right: 25px;
}

#information .info_title {
  color: #190e08;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
@media screen and (max-width: 830px) {
  #information .info_title {
    margin-bottom: 40px;
  }
}
#information .info_title h2 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.5px;
  white-space: nowrap;
}
@media screen and (max-width: 830px) {
  #information .info_title h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 450px) {
  #information .info_title h2 {
    font-size: 26px;
  }
}
#information .info_title img {
  width: 215px;
  height: auto;
  margin: 0 20px;
}
@media screen and (max-width: 830px) {
  #information .info_title img {
    display: none;
  }
}
#information .info_list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1050px) {
  #information .info_list {
    display: block;
    padding: 100px;
  }
}
@media screen and (max-width: 550px) {
  #information .info_list {
    padding: 50px 0px;
  }
}
#information .info_list h3 {
  font-size: 32px;
  letter-spacing: 1.5px;
  font-weight: 500;
  margin-bottom: 40px;
}
@media screen and (max-width: 450px) {
  #information .info_list h3 {
    font-size: 28px;
  }
}
#information .info_list p {
  line-height: 36px;
  margin-bottom: 40px;
}
@media screen and (max-width: 450px) {
  #information .info_list p {
    font-size: 14.5px;
  }
}
#information .info_list .info_text_block, #information .info_list .info_img_block {
  width: 50%;
  text-align: center;
}
@media screen and (max-width: 1050px) {
  #information .info_list .info_text_block, #information .info_list .info_img_block {
    width: 100%;
    margin: 0 auto;
  }
}
#information .info_list .info_text_icon {
  width: 70px;
  height: auto;
  margin: 20px auto;
}
#information .info_list:nth-child(2) {
  background-color: #723517;
  color: #fff;
}
#information .info_list:nth-child(2) a {
  color: #e2bd6a;
}
#information .info_list:nth-child(3) {
  flex-direction: row-reverse;
  background-color: #ede3ce;
  color: #190e08;
}
#information .info_list:nth-child(3) .info_text_icon {
  width: 90px;
}
#information .info_list:nth-child(3) a {
  color: #383c44;
}
#information .info_list:nth-child(4) {
  background-color: #383c44;
  color: #fff;
}
#information .info_list:nth-child(4) a {
  color: #e2bd6a;
}

#contact {
  position: relative;
}
#contact .contact_background {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1050px) {
  #contact .contact_background img {
    height: 900px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
#contact .contact_message {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -140px;
  margin-top: -280px;
  text-align: center;
}
@media screen and (max-width: 1050px) {
  #contact .contact_message {
    margin-top: -310px;
  }
}
#contact .contact_message img {
  width: 105px;
  height: auto;
  margin: 0 auto;
}
#contact .contact_message h4 {
  font-size: 20px;
  letter-spacing: 1.9px;
  margin: 50px auto;
  color: #190e08;
}
#contact .contact_message p {
  color: #190e08;
  line-height: 36px;
  margin-bottom: 36px;
}
#contact .contact_btn {
  border: 2px solid #e2bd6a;
  padding: 3px;
  width: 230px;
  margin: 0 auto;
  display: block;
}
#contact .contact_btn p {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 38px;
  color: #723517;
  border: 1px solid #e2bd6a;
}

.footer {
  height: 300px;
  width: 100%;
  background-color: #723517;
}
@media screen and (max-width: 830px) {
  .footer {
    height: 120px;
  }
}
.footer_inner {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 830px) {
  .footer_inner {
    height: 120px;
    justify-content: unset;
  }
}
.footer_menu {
  white-space: nowrap;
}
@media screen and (max-width: 830px) {
  .footer_menu {
    display: none;
  }
}
.footer_line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 22px 0;
}
.footer_logo {
  width: 90px;
  height: auto;
  margin-right: 50px;
}
@media screen and (max-width: 830px) {
  .footer_logo {
    width: 70px;
    margin: 0 40px;
  }
}
.footer_list {
  display: flex;
}
.footer_list li a {
  color: #fff;
  margin-right: 50px;
  display: inline-block;
}/*# sourceMappingURL=style.css.map */